h1{
	text-align: center;
	text-decoration: underline;
	font-size: 300%;
	font-family: "Arial";
}

p{
	font-size: 150%;
	font-family: "Arial";
}

hr{
	border: 2px solid black;
	border-radius: 1px;
}

p.wb{
	background-color: black;
	color: white;
}